@charset "UTF-8";
@import url(reset.css);
@charsert "utf-8";
a {
  text-decoration: none; }

html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/4.png); }

.load {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/baidb.png) no-repeat center center;
  background-size: 100% 100%;
  position: relative; }

.loadding {
  height: 20px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  bottom: 40%;
  left: 50%;
  margin-left: -25%; }
  .loadding span {
    height: 20px;
    width: 100%;
    border-radius: 10px;
    display: block;
    background: green;
    -webkit-animation: load 3s ease-in; }

.num {
  position: absolute;
  bottom: 35%;
  left: 50%; }

@-webkit-keyframes load {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.role {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/4.png);
  position: relative; }
  .role .icon {
    width: 268px;
    margin: 33px auto; }
    .role .icon img {
      width: 268px; }
  .role p {
    width: 100%;
    position: absolute;
    bottom: 20%;
    color: #04952D;
    text-align: center; }

.head {
  width: 60%;
  margin: 0 auto; }
  .head a {
    width: 77px;
    height: 77px;
    float: left;
    background: url(../img/2.gif);
    background-size: 100% 100%;
    padding-left: 20px; }
    .head a:nth-child(2) {
      width: 86px;
      height: 86px;
      background: url(../img/3.gif);
      background-size: 100% 100%;
      float: right; }

.star {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/4.png);
  display: -webkit-box;
  -webkit-box-orient: vertical; }
  .star h2 {
    width: 100%;
    padding-top: 55px;
    text-align: center; }
  .star p {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 13px;
    font-family: "瀹嬩綋";
    color: #E87700; }

.star .myStar {
  width: 100%;
  -webkit-box-flex: 1;
  padding: 10px; }
  .star .myStar a {
    width: 32%;
    display: inline-block;
    padding: 10px; }
    .star .myStar a img {
      max-width: 80%; }

.slider-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

img {
  max-width: 100%;
  max-height: 100%; }

.slider-wrap div, .option div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: start;
  position: absolute;
  -webkit-backface-visibility: hidden;
  text-align: center;
  padding: 10px; }
  .slider-wrap div h2, .option div h2 {
    width: 100%;
    text-align: center;
    margin: 35px;
    display: inline-block; }
    .slider-wrap div h2 img, .option div h2 img {
      width: 70%; }
  .slider-wrap div a, .option div a {
    width: 70%;
    height: 40px;
    background: #04952D;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -35%;
    z-index: 88; }

.qingjing {
  width: 70%;
  position: absolute;
  bottom: 35%;
  left: 50%;
  margin-left: -35%; }

.next, .prev {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px; }

.next {
  right: 20px; }

.prev {
  left: 20px; }

.problem {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.shou {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.option {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .option img {
    width: 80%; }
  .option div a {
    z-index: 9999; }

.result {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.success, .fail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .success a, .fail a {
    width: 40%;
    height: 50px;
    position: absolute;
    border: 3px solid #04952d;
    border-radius: 25px;
    font-size: 20px;
    color: #04952d;
    text-align: center;
    line-height: 50px;
    bottom: 80px; }

.back {
  left: 30px; }

.confident, .get {
  right: 30px; }

.article {
  width: 80%;
  margin: 20px auto;
  color: #e87700;
  text-align: center;
  line-height: 20px; }

.bag {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.page {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .page img {
    height: 100%; }
