#section {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#section address:nth-child(1) {
  background: #F9CB6B;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-pack: center;
}
#section address:nth-child(1) nav {
  width: 150px;
  text-align: center;
}
#section address:nth-child(1) nav img {
  width: 100px;
}
#section address:nth-child(2) {
  height: 150px;
  display: -webkit-box;
  background: #fff;
}
#section address:nth-child(2) dl {
  -webkit-box-flex: 1;
  text-align: center;
}
#section address:nth-child(2) dl dt img {
  width: 50%;
}
