article{
	width: 90%;
	margin:0 auto;
	box-shadow: 3px 3px #ddd;
}
/*第一块区域*/
	section{
		width: 100%;
		background: #fff;
		margin: 10px 0;
		padding:10px 0 ;
	}
		#top1{
			 width: 95%;
			 overflow:hidden;
			margin:0 auto;
			margin-bottom: 10px;
		}
			#top1 ul{
				display: -webkit-box;
				display: -moz-box;
				display: -o-box;
			}
				#top1 ul li{
					width: 100%;
				}
					#top1 ul li img{
						width: 100%;
					}
		.bottom1{
			width: 90%;
			display: -webkit-box;
			display: -moz-box;
			display: -o-box;
			margin:0 auto;		
		}
			.bottom1 dl{
				-webkit-box-flex:1;
				-moz-box-flex:1;
				-o-box-flex:1;
				text-align: center;
				border-right:1px solid #dfdfdf;
			}
		section header{
			width: 100%;
			height: 35px;
			line-height: 35px;
			background: url(../img/bg.png) no-repeat 20px center;
		}
		.txt{
			font-size: 18px;
			margin-left: 25px;
			margin-right: 5px;
		}
			.bottom1 dl span{
				display: inline-block;
				width: 30%;
				background: red;
				color: #fff;
				line-height：20px;
			}
	.div{
		width: 100%;
		display: -webkit-box;
		display: -moz-box;
		display: -o-box;
	}
	.div aside{
		width: 50%;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-o-box-flex:1;
	}
	.left img,.right img{
		width: 100%;
		vertical-align: top;
	}
	.left1 img,.right1 img{
		width: 100%;
		vertical-align: top;
		border:1px solid #ccc;
	}
	.address{
		width: 100%;
		display: -webkit-box;
		display: -moz-box;
		display: -o-box;
	}
		.al{
		width: 50%;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-o-box-flex:1;
		}
		.ar{
			width: 50%;
			-webkit-box-flex:1;
			-moz-box-flex:1;
			-o-box-flex:1;
		}
		.al dl,.ar dl{
			background: #ddd;
			-webkit-box-flex:1;
			-moz-box-flex:1;
			-o-box-flex:1;
			-webkit-box-pack:justify;
			width: 100%;
			padding:30px 0;
		}
			/*.al dl dt,.ar dl dt{
				font-size: 34px;
				font-weight: bold;
				padding-left: 30px;
				line-height: 40px;
			}
		
			.al dl dd,.ar dl dd{
				font-size: 24px;
				padding-left: 30px;
			} */
		
/* .footer{
	height: 93px;
	width: 90%;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	 -webkit-box-orient:vertical;
	 -moz-box-orient:vertical;
	 -o-box-orient:vertical;
}

	 .ars{
		width: 100%;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-o-box-flex:1;
}
	#ars{
		width: 100%;
		-webkit-box-flex:1;
		-moz-box-flex:1;
		-o-box-flex:1;
 		-webkit-box-align:justify;
	}
		
 */

		 		