body,html{
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
}
/* .tac{
	text-align: center;
} */
	header{
		width: 100%;
		text-align: center;
	}
		header img{
			width: 100%;
		}
		

	section{
		width: 100%;
		-webkit-box-flex:1;
		-moz-box-flex:1;
	}
		#art{
			width: 100%;
		}

			#art input{
					width: 90%;
					border-radius: 5px;
					border: 1px solid #ddd;
				}
			#art img{
				width: 100%;
			}

		#article1{

			width: 100%;
		}
			#article1 h1{
				width: 100%;
				font-size: 18px;
				text-align: center;
				line-height: 30px;
				background: #ddd;
			}
			#article1 img{
				width: 48%;
			}
	footer{
		width: 100%;
		height: 91px;
	}
		nav{
			width: 100%;
			display: -webkit-box;
			display: -moz-box;
		}
		nav dl{
			-webkit-box-flex:1;
			-moz-box-flex:1;
			text-align: center;
		}
